<div id="header">
	<div id="logo">Logo</div>
	<div id="login">
		<a href="#">Login</a>
		<div id="login_form">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.label :email %><br />
			  <%= f.email_field :email %></div>

			  <div><%= f.label :password %><br />
			  <%= f.password_field :password %></div>

			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			  <% end %>

			  <div class="signin_button"><%= f.submit "Sign in" %></div>
  			  <%= devise_error_messages! %>
			<% end %>
		</div>
		<div id="sign_out">
			<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		</div>
	</div>
</div>

<div id="mainContainer">
	<!-- Devise Sign up form -->
	<div id="signup_form">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>  

		  <div class="left"><%= f.label :email %><br />
		  <%= f.email_field :email %></div>

		  <div class="left"><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <div class="signup_button"><%= f.submit "Sign up" %></div>
		<% end %>
	</div>
	<div class="omniauth">
		<div class="twitter_login">Twitter Login</div>
		<div class="facebook_login">Facebook Login</div>
	</div>
</div>

<div id="footer">
	<div>Created and Designed by Marc Bodmer © 2012</div>
	<div>Social Buttons</div>
	<div></div>
</div>

