<% @software.tags.build %>
<%= form_for(@software) do |software_form| %>
  <% if @software.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(@software.errors.count, "error") %> prevented this software from being saved:</h2>
      <ul>
      <% @software.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= software_form.label :name , :class => 'subtitles'%><br />
    <%= software_form.text_field :name %>
  </div>
  <div class="field">
    <%= software_form.label :description, :class => 'subtitles'%><br />
    <%= software_form.text_area :description %>
  </div>
  <h2 class="subtitles">Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => software_form} %>
  <div class="actions">
    <%= software_form.submit 'Submit', :class => 'round_button' %>
  </div>
<% end %>
