<body style="background: #EEEEEE;">
<p id="notice"><%= notice %></p>

<p>
  <b class="bold">Name:</b>
  <%= @software.name %>
</p>

<p>
  <b>Description:</b>
  <%= @software.description %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back to Profile', profile_path %>
