<p id="notice"><%= notice %></p>
<div class="mainContainer background">
	<div class="software_title container">
	  <h1 class="bold">
	  <%= @software.name.titleize %>
	</h1>
	</div>

	<div class="software_desc container">
	  Description:</br>
	  <%= @software.description %>
	</div>

	<div class="nav_links container">
		<%= link_to 'Edit', edit_software_path(@software) %> |
		<%= link_to 'Back to Profile', profile_path %>
	</div>
</div>