<p id="notice"><%= notice %></p>
<div class="mainContainer background">
	<div class="software_title container">
	  <h1 class="bold">
		  <%= @software.name.titleize %>
	  </h1>
	  <hr />
	</div>

	<div class="software_desc container">
	    <h2>Description:</h2>
	    <div class="text">
		  <%= @software.description %>
		</div>
		<hr />
	</div>

	<div class="container">
		<h2 class="titles">Plugins</h2>
		
		<% if @software.plugins.blank? %>
			<p class="text">No Plugins</p>
		<% else %>
			<%= render @software.plugins %>
		<% end %>
		<br />
		<hr />
	</div>

	<div class="add_plugin container">
		<h2 class="titles">Add a Plugin:</h2>
		<%= render "plugins/form" %>
	</div>

	<div class="nav_links container">
		<%= link_to 'Edit', edit_software_path(@software) %> |
		<%= link_to 'Back to Profile', profile_path %>
	</div>
</div>